.blacksmith {
    width: 300px;
    pointer-events: none;
}

@media (min-width:768px) {
    .blacksmith {
        width: 400px;
        border-radius: 40%;
        margin-top: 0;
    }
}

.blacksmith-nickname {
    color: #77E05A;
    display: flex;
    justify-self: center;
    position: relative;
    top: -20px;
    left: -5px;
}

.blacksmith-img {
    width: 100%;
    height: auto;
    filter: brightness(140%) drop-shadow(1px 0 1px rgb(80, 80, 80)) drop-shadow(-1px 0 1px rgb(80, 80, 80)) drop-shadow(0 1px 1px rgb(80, 80, 80)) drop-shadow(0 -1px 1px rgb(80, 80, 80));

}