.blacksmith {
    width: 400px;
}

.blacksmith-nickname {
    color: #77E05A;
    display: flex;
    justify-self: center;
    position: relative;
    top: -20px;
    left: -5px;
    font-size: 0.9em;
}

.blacksmith-img {
    width: 100%;
    height: auto;
    filter: brightness(140%) drop-shadow(1px 0 1px rgb(120, 120, 120)) drop-shadow(-1px 0 1px rgb(120, 120, 120)) drop-shadow(0 1px 1px rgb(120, 120, 120)) drop-shadow(0 -1px 1px rgb(120, 120, 120))
}