.tabs {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.7;
    gap: 2px;
    padding: 0 5px;
}

.tab {
    flex: 1;
    flex-basis: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdbaba60;
    color: white;
    font-weight: 400;
    box-shadow: inset #8d8c8c 1px 1px 2px 1px, inset #131313a2 -2px -2px 2px 1px;
}

.tab-active {
    background-color: #ffffff7a;
    box-shadow: inset #131313a2 1px 1px 2px 1px, inset #dad9d9 -2px -2px 2px 1px;
}