.tabs {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.6;
    gap: 2px;
    padding: 0 5px;
}

.tab {
    flex: 1;
    flex-basis: 50px;
    line-height: 1.4;
    font-family: inherit;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 2%, 74%, 0.376);
    color: white;
    box-shadow: inset #8d8c8c 1px 1px 2px 1px, inset #131313a2 -2px -2px 2px 1px;
    border: none;
}

.tab:hover:not(.active) {
    background: hsla(0, 0%, 90%, 0.478) !important;
}

.tab.active {
    background-color: hsla(0, 0%, 100%, 0.478);
    box-shadow: inset #131313a2 1px 1px 2px 1px, inset #dad9d9 -2px -2px 2px 1px;
}