.grid {
    display: grid;
    grid-template-columns: repeat(5, var(--slot-size));
    width: fit-content;
}

.slot {
    width: var(--slot-size);
    height: var(--slot-size);
    background: url("../assets/slot.png") no-repeat;
    background-size: contain;
}

.slot-overlay {
    width: var(--slot-size);
    height: var(--slot-size);
    background: white;
    opacity: 0.5;
    position: absolute;
    pointer-events: none;
}

.slot-overlay-invalid {
    background: red;
}

.slot-overlay-interaction {
    background: rgb(132, 175, 37);
}

.item {
    width: 100%;
    display: flex;
    position: relative;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.item-selected {
    pointer-events: none;
}

.item-img {
    width: var(--slot-size);
    height: auto;
}

.ghost-img {
    position: fixed;
    width: var(--slot-size);
    opacity: 0.7;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
}