.item-spawner {
    width: 256px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    position: relative;
}

.select-item {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.select-item:hover {
    background: rgb(59, 59, 59);
}

.spawn-button {
    width: 30%;
}

.modal {
    position: absolute;
    left: -300px;
    top: 0;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px rgb(88, 69, 50);
    background: rgba(0, 0, 0, 0.5);
}

.modal .close-modal-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    font-size: 1.7rem;
}

.filter-options {
    margin-top: 25px;
}

.filter-profession {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.filter-profession-button {
    flex: 1;
}

.filter-type,
.filter-plus {
    color: #d3d3d3;
    background: hsl(53, 6%, 10%);
    outline: none;
}

.filter-type {
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filter-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}