.filter-options {
    min-height: 105px;
}

.filter-profession {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.filter-button {
    flex: 1;
}

.filter-type,
.filter-plus {
    color: inherit;
    background: hsl(53, 6%, 10%);
    outline: none;
}

.filter-type {
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filter-plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.filter-subtype {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

select {
    padding: 0.25rem;
    font-family: inherit;
    font-size: 1.2rem;
}