.item-spawner {

    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
    position: relative;
    color: #d3d3d3;
    width: 100%;
    max-width: calc(var(--slot-size) * 5 + 6px);

}

.select-item {
    flex: 5;
    min-width: 0;
    display: flex;
    align-items: center;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    padding: 0.25rem;
}

.select-item>span {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
}

.select-item:hover {
    background: rgb(59, 59, 59);
}

.spawn-button {
    flex: 1;
}

.modal {
    position: absolute;
    display: flex;
    left: -12px;
    top: 36px;

    @media(min-width:768px) {
        left: -300px;
        top: 0;
    }
}