.item-spawner {
    width: 262px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;

    display: flex;
    gap: 5px;
    position: relative;
}

.select-item,
.spawn-button {
    padding: 0.3rem;
    cursor: pointer;
    text-align: center;
}

.select-item {
    width: 70%;
    border: 2px solid white;
    overflow: hidden;
    text-overflow: ellipsis;

}

.spawn-button {
    width: 30%;
}

.modal {

    position: absolute;
    left: -300px;
    top: 0;
    border-radius: 5px;
    background: grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.modal .close-modal-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    border: none;
}

.modal .search-item {
    width: 100%;
    padding: 0.25rem;
    margin-top: 25px;
}