.locale-switch {
    color: white;
    position: fixed;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.locale-icon {
    margin: 2px;
    pointer-events: none;
}