.tooltip-name {
    color: #D8CFAC;
    margin-top: 5px;
}

.tooltip-name--bonus {
    color: #E5B300;
}

.tooltip-level,
.tooltip-stats,
.tooltip-description {
    margin-top: 8px;
}

.tooltip-stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tooltip-bonuses {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    gap: 4px;
}

.tooltip-stat {
    color: #7BA57F;
}

.tooltip-stat--negative {
    color: #CE6C69;
}

.tooltip-wearable {
    margin-top: 8px;

}

.tooltip-professions {
    margin-top: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.tooltip-bonus {
    color: #9EC8A2;
}

.tooltip-bonus--negative {
    color: #CE6C69;
}

.tooltip-description {
    max-width: 220px;
    text-wrap: wrap;
    line-height: 1.25rem;
    margin-bottom: 5px;
}