.upgrade-window {

    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    color: #d3d3d3;
    font-size: 1.2rem;
    text-align: center;
    z-index: 2;

    @media(min-width:768px) {
        left: 140px;
        top: 30px;
        transform: none;
    }

}


.item-info {
    display: flex;
    gap: 3px;
    align-items: center;
}

.item-thumbnail {
    width: 40px;
    background: url("../assets/slot.png");
    background-size: 40px;
    flex: 0 0 auto;
}


.materials {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}

.material {
    display: flex;
    gap: 4px;
    align-items: center;
}

.material-icon {
    width: 40px;
    background: url("../assets/slot.png");
    background-size: 40px;

}

.upgrade-chance {
    margin-top: 15px;
}

.upgrade-cost {
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 10px;
}

.buttons>button {
    min-width: 80px;
}

.confirm-upgrade-modal {
    position: absolute;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%);
}

.confirm-upgrade-modal span {
    display: block;
    text-wrap: nowrap;
    line-height: 1.5rem;
}


.upgrade-result-window {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    color: #d3d3d3;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    z-index: 2;

    @media (min-width:768px) {
        left: 30%;
        top: 40%;
        transform: none;
    }
}






.upgrade-result-window button {
    min-width: 50px;
    margin: auto;
}