.upgrade-window {

    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);

}

.item-info {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-thumbnail {
    width: 50px;

    background: url("https://pl-wiki.metin2.gameforge.com/images/4/48/Czarne_T%C5%82o.png");
    background-size: 50px;
    flex: 0 0 auto;
}

.materials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.material {
    display: flex;
}

.material-icon {
    width: 50px;
    background: url("https://pl-wiki.metin2.gameforge.com/images/4/48/Czarne_T%C5%82o.png");
    background-size: 50px;
}