.upgrade-window {

    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #d3d3d3;
    font-size: 1.3rem;
    text-align: center;

}

.item-info {
    display: flex;
    gap: 3px;
    align-items: center;
}

.item-thumbnail {
    width: 40px;

    background: url("https://pl-wiki.metin2.gameforge.com/images/4/48/Czarne_T%C5%82o.png");
    background-size: 40px;
    flex: 0 0 auto;
}


.materials {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}

.material {
    display: flex;
    gap: 4px;
}

.material-icon {
    width: 40px;
    background: url("https://pl-wiki.metin2.gameforge.com/images/4/48/Czarne_T%C5%82o.png");
    background-size: 40px;
}

.cost {
    margin-top: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 8px;
}

.buttons>button {
    min-width: 80px;
}