.app-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    gap: 50px;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 30px 20px;


}