.app-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 100vh;
    /*   justify-content: center; */
    gap: 20px;
    /* padding-top: 20px; */
    user-select: none;

    @media(min-width:768px) {
        height: auto;
        max-width: 1200px;
        gap: 50px;
        border: 2px solid rgb(53, 53, 53);
        border-radius: 10px;
        flex-direction: row;
        padding: 30px 20px;
    }

}

.language-switcher {
    color: white;
}