@import url(https://db.onlinewebfonts.com/c/42f9562c8f7c7a67c631997066a9bff4?family=fs+Tahoma+8px);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-image: url("/src/assets/background.png");
  background-size: 400px;
  background-repeat: repeat;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "fs Tahoma 8px", sans-serif;

}